* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", serif;
  text-decoration: none;
  background-color: inherit;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
    
  background-image: url('./assets/background-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 70px;
  width: 100%;
  gap: 380px;
  background-color: #10424e;
  box-shadow: 0 0 15px#ffffff77;
  z-index: 1;
}

.logo img {
  width: 100px;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  & li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  & li:hover {
    transform: translateY(-2px);
    transition: 0.3s;
    opacity: 0.7;
  }

  & a {
    color: #dddddd;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;

  .my-name {
    display: flex;
    align-items: center;
    gap: 20px;

    h1 {
      font-size: 42px;
      color: #fff;
      padding-top: 250px;
    }

    & span {
      color: #188a99a4;
    }
  }

  .button-cv {

    button {
      padding: 15px 15px;
      border: 2px solid #1b5f7477;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.3s;
    }

    & button:hover {
      background-color: rgba(0, 255, 255, 0.219);
      box-shadow: 0 0 9px #159ea386;
      transform: translateY(-1px);
      transition: 0.3s;
      opacity: 0.7;
    }

    & a {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: transparent;
    }
  }

  .icons {
    display: flex;
    gap: 60px;


    & a {
      text-decoration: none;
      color: lightgray;

      & :hover {
        color: rgba(0, 255, 255, 0.363);
        transform: translateY(-2px);
        transition: 0.3s;
        opacity: 0.7;
      }
    }

    & i {
      color: #fff;
      font-size: 40px;
    }
  }

  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #0795a8b4;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(10, 230, 230, 0.477);
    top: 50px;
  }

  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 15px;
    left: 13px;
    border: 2px solid lightgray;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s ease-in-out infinite;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }

  30%,
  60% {
    opacity: 1;
  }

  100% {
    top: 90%;
    opacity: 0;
  }
}

.sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 70vh;
  box-shadow: 0 0 15px#ffffff77;
  margin-top: 300px;

  .title-sobre-mim h2{
    text-align: center;
    font-size: 32px;
    color: #fff;
  }

  .p-sobre-mim {
    text-align: center;
    color: #fff;
    padding-top: 30px;
    width: 890px;
  }
}

.container-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;

  .info-experiencia {
    width: 180px;
    height: 120px;
    border: 2px solid #5a6792;
    padding: 15px 10px;
    background-color: transparent;

    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    & h4 {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding-top: 5px;
    }

    & p {
      text-align: center;
      font-size: 12px;
      color: white;
    }
  }

  .info-educacao {
    width: 180px;
    height: 120px;
    border: 2px solid #5a6792;
    padding: 15px 10px;
    background-color: transparent;

    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    & h4 {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding-top: 5px;
    }

    & p {
      text-align: center;
      font-size: 12px;
      color: white;
    }
  }
}

.info-experiencia:hover,
.info-educacao:hover {
  opacity: 0.5;
  cursor: pointer;
}

.technologies-and-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;

  .title-tech-and-skills h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 80px;
  }

  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 50vw;
    mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);

    & .logos {
      display: flex;
      animation: slide 12s linear infinite;
      gap: 40px;
    }

    & img {
      width: 80px;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0.8;
    }

    & img:hover {
      transform: scale(1.2);
      opacity: 1;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* Container e layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

main {
  padding: 48px 0;
}

.container h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
  color: #fff;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

/* Card do projeto */
.project-card {
  background-color: #15485c;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  box-shadow: 0 0 9px #159ea386;
  transform: translateY(-1px);
  transition: 0.3s;
  opacity: 0.9;
}

/* Imagem do projeto */
.project-image {
  height: 420px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Conteúdo do projeto */
.project-content {
  padding: 24px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.project-header h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

/* Links do projeto */
.project-links {
  display: flex;
  gap: 12px;
}

.project-links a {
  color: #fff;
  transition: color 0.2s ease;
}

.project-links a:hover {
  color: #005f8d;
}

/* Descrição do projeto */
.project-content p {
  color: #fff;
  margin-bottom: 24px;
}

/* Tags de tecnologia */
.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-tag {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
  box-shadow: 0 0 18px rgba(11, 145, 134, 0.61);
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
}

.tech-tag svg {
  color: #fff;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px 32px;
}

.title-contact {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.contact-grid {
  display: grid;
  gap: 48px;
  box-shadow: 0 0 18px rgba(11, 145, 134, 0.61);
  border-radius: 20px;
}

.info-card {
  padding: 32px;
  border-radius: 8px;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 28px;
}

.info-links {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.info-link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.info-link:hover {
  transform: translateY(-2px);
  transition: 0.3s;
  opacity: 0.7;
}

.form-container {
  padding: 32px;
  border-radius: 8px;
}

.form-group {
  background-color: transparent;
  margin-bottom: 26px;
}

label {
  display: block;
  font-size: 12;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
  background-color: transparent;
}

.form-input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #10424e;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s;
  color: #fff;
}

.form-input:focus {
  border-color: #1baab4;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

.form-input.error {
  border-color: red;
}

.error-message {
  display: block;
  font-size: 14px;
  color: red;
  margin-top: 5px;
  min-height: 20px;
}

.submit-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  opacity: 0.7;
}

.success-message {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background: green;
  color: white;
  padding: 12px 26px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  animation: fade-in 0.3s ease-out;
}

.hidden {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#btn-topo {
  display: none; /* Esconde o botão inicialmente */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0c51707e; /* Cor de fundo */
  color: white; /* Cor da seta */
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

#btn-topo:hover {
  transform: translateY(-7px);
  box-shadow: 0 0 9px #159ea386;
  transition: 0.3s;
  opacity: 0.7;
  background-color: #005f8d; /* Cor de fundo ao passar o mouse */
}

#btn-topo i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.footer {
  width: 100%;
  padding: 32px 0;
  background-color: #0c3b4e67;
  margin-top: auto;
  box-shadow: 0 0 15px#478a9e77;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: transparent;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #ffffff;
  }

  .copyright {
    font-size: 14px;
  }

  .social-links {
    display: flex;
    gap: 32px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .social-links a:hover {
    color: rgba(0, 255, 255, 0.363);
    transform: translateY(-2px);
    transition: 0.3s;
    opacity: 0.7;
  }
}

.animate {
  opacity: 0; /* Inicia invisível */
  transform: translateX(-150px); /* Inicia um pouco abaixo */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.visible {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Volta à posição original */
}

/* Animaçoes Site */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(60px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.slide-in-left.visible, .slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.zoom-in {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.zoom-in.visible {
  opacity: 1;
  transform: scale(1);
}